doctype html
html
  head
    meta(charset='utf-8')  
    link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')    
    title Preguntas
  body
    #page-wrap
      header#h1.main
        h2  Quiz: El juego de las preguntas 
           
      nav#n1.main(role='navigation')
        span
            a(href='/') Inicio         
        span
            a(href='/quizes/question') Preguntas
        span
            a(href='/quizes/author') Creditos


      section#s1.main
        block cuerpo        
        section
          footer#f1.main
            span
              a(href='https://github.com/joator22/proyecto') Repositorio en GITHUB
